<section class="gnt-sec-2">
  <v-container fluid>
    <section class="gnt-sec-3">
      <h2 class="font-weight-bold secondary--text text-h3 text--darken-2">
        新歓情報
      </h2>
      <!-- 新歓応募フォームボタンを追加 -->
      <v-row class="d-flex justify-center align-center mb-4">
        <v-btn
          color="primary"
          dark
          large
          href="https://docs.google.com/forms/d/e/1FAIpQLSdgNDLPPNSufGF00UfJBSel09HuOt_1EF_ye_8PqMO7EzA77Q/viewform"
          target="_blank"
          style="font-size: 1.5em; margin-top: 1em;border-radius: 50px;"
        >
          新歓応募フォームはこちら！
        </v-btn>
      </v-row>
      <v-row
        class="d-flex justify-center align-center gont-tile-layout-template"
      >
        <v-col
          cols="12"
          sm="6"
          md="3"
          class="pa-md-5"
          v-for="event in events"
          :key="event.title"
        >
          <MoleculesShinkanjohoCard
            :imgSrc="event.imgSrc"
            :date="event.date"
            :title="event.title"
            :detail="event.detail"
            :dayandtime="event.dayandtime"
            :place="event.place"
            :zoomlink="event.zoomlink"
            :zoomID="event.zoomID"
            :zoompass="event.zoompass"
          />
          
        </v-col>
        <v-btn
            v-if="$vuetify.breakpoint.smAndDown"
            color="primary"
            dark
            large
            block
            href="https://docs.google.com/forms/d/e/1FAIpQLSdgNDLPPNSufGF00UfJBSel09HuOt_1EF_ye_8PqMO7EzA77Q/viewform"
            target="_blank"
            style="font-size: 1.2em; margin-top: 1em;border-radius: 50px;"
          >
            新歓応募フォームはこちら！
          </v-btn>
      </v-row>
      
    </section>
  </v-container>
</section>
